services:
    db:
        image: "mcr.microsoft.com/mssql/server:2022-latest"
        ports:
            - 1433:1433
        volumes:             
            - ./init:/docker-entrypoint-initdb.d
        environment:
            MSSQL_SA_PASSWORD: "password123!"
            ACCEPT_EULA: "Y"