services:
    blazor:
        build:
            context: .
            dockerfile: blazor.dockerFile
        image: timetracker-blazor
        ports:
            - "3000:8080"
    api:
        build:
            context: .
            dockerfile: api.Dockerfile
        image: timetracker-api
        environment: 
            - STORE_TYPE=mssql
            - CONNECTION_STRING=Server=db;Database=AdGo;User Id=sa;Password=password123!;Encrypt=False;TrustServerCertificate=True
        ports:
            - "5000:8080"
    db:
        image: "mcr.microsoft.com/mssql/server:2022-latest"
        ports:
            - 1433:1433
        volumes:             
            - ./init:/docker-entrypoint-initdb.d
        environment:
            MSSQL_SA_PASSWORD: "password123!"
            ACCEPT_EULA: "Y"